.header {
    width: 100%;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.i {
    color: $white-normal;
    
}


.header-button {
    border: 1px solid $white-normal;
    padding: 8px 24px;
    border-radius: 4px;
    color: $white-normal;
    background-color: transparent;
    transition: background-color 0.8s;
}

.header-button:hover {
    border: 1px solid $red-light;
    background-color: $red-light;
}

.header-logo {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
    margin-left: 140px;
}

@media screen and (max-width: 768px){
    .header-content {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        i {
            margin-top:16px ;
            font-size: 34px;
        }
    }

    .header-icons {
        display: none;
    }

    .header-logo img {
        width: 160px;
        margin-top: 46px;
        margin-right: 130px;
    }

    .header-button {
        display: none;
    }
}